<div class="register-box">
  <div class="register-logo">
    <a ui-sref="login"><b>Resource</b>MGR</a>
  </div>
  <div class="register-box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Créer un nouveau compte</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <register-form></register-form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <a ui-sref="login">J’ai déjà un compte</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <!--By signing up, you agree to our Terms and that you have read our Privacy Policy.-->
        <!--En vous inscrivant, vous acceptez nos conditions et vous avez lu notre politique de confidentialité.-->
        En vous inscrivant, vous acceptez nos <a href="#">Conditions</a> et vous avez lu notre <a href="#">Politique de Confidentialité</a>.
      </div>
    </div>
  </div>
</div>
